{% extends "writecloud/base.html" %}

<!DOCTYPE html>
{% load static %}
{% block header_logged_in %}
{% endblock %}
{% block header_logo %}
{% endblock %}
{% block body_block %}
<style>
#profile-container img {
    width: 150px;
    height: 150px;
}
</style>

{% csrf_token %}

<h4>*/Insert Username*/'s Profile </h4></th>    
  
<table style:"width:100%">

    <th>      
    <form id="update_user_form" method="POST" action=""enctype="multipart/form-data">{% csrf_token %}
    <div id="id_image_container" style="float:left; margin-left: 4%; margin-top:2%">
    <input type="image" class="img-responsive" src="{{ user.userprofile.image.url }}" width="150">
    <input type="image"  name="myfile" style="display: none;" /></form>
    </div>
    </th>
    <th> Stories created by user</th>
    <th> Stories contributed to by user</th>
    <tr>
        <td></td>
        <td><li> /*List of stories created</li></td>
        <td><li>/*List of stories contributed to*/</li></td>
    </tr>

</table>
     
</body>

{% endblock %}

