{% extends 'writecloud/base.html' %}
{% block header_logged_out %}
{% endblock %}
{% block body_block %}
<style>
h2{
    color: #23d5d2 !important;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}
.inside{
    font-size : 1.8vw;
    font-family: "Apple Symbols";
    color: #ee7752;
    background-color: #f7ddd4;
    border-radius: 5px;
}
.comment{
    font-size : 1.5vw;
    font-family: "Apple Symbols";
    color: #23d5d2;
    display: flex;
    justify-content: center;
}
#left-comment{
    border-radius: 15px;
    box-shadow: 0 0 5px #23d5d2;
}
.row{
    margin-top: 2% !important;
    color: #ee7752;
}
</style>
    <h2> {{ name }}'s Stories</h2>
    {% for story in stories %}
    <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="{% url 'writecloud:story' story.uuid %}" class="inside">{{ story.title }}</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="{% url 'writecloud:story' story.uuid %}" class="inside">{{ story.length }} Total Pages</a></li>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="left-comment">
            <li><a class="comment" href="{% url 'writecloud:story' story.uuid %}" >Initial Author {{ story.initial_author }}</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    </div>
    {% endfor %}
{% endblock %}



     



