{% extends "writecloud/base.html" %}

<!DOCTYPE html>
{% load static %}
{% block header_logged_in %}
    {% endblock %}
    {% block body_block %}
<style>
.row{
    margin-top: 5%;
}

.inner{
    color: #23d5d2;
    font-size : 1.4vw;
    font-family: "Apple Symbols";
    display: flex;
    justify-content: center;
}

p {
    color: #ee7752;
    font-size : 1.4vw;
    font-family: "Apple Symbols";
    display: flex;
    justify-content: center;
}
</style>

     <div class="row">
            <p>We are the WriteCloud Team</p>
            <p class="inner">Matilda Bradley</p>
            <p class="inner">Marianne Marcelline</p>
            <p class="inner">Giorgio Ciacchella</p>
            <p class="inner">Kiril Bikov</p>
     </div>

    <div class="row">
            <p>Email </p>
            <p class="inner">team9duofg@gmail.com</p>
     </div>

{% endblock %} }}