{% extends "writecloud/base.html" %}

<!DOCTYPE html>
{% block header_logged_out %}
    {% endblock %}
{% block body_block %}
{% load static %}

<style>
.row{
    margin-top: 1% !important;
    color: #ee7752;
}
.inside{
    font-size : 1.8vw;
    font-family: "Apple Symbols";
    color: #ee7752;
    background-color: #f7ddd4;
    border-radius: 5px;
}
.comment{
    font-size : 1.5vw;
    font-family: "Apple Symbols";
    color: #23d5d2;
    display: flex;
    justify-content: center;
}

::placeholder{
    font-size : 1.4vw;
    font-family: "Apple Symbols";
    color: #ee7752;
    font-weight: bold;
}

#input{
    background: #23d5d2;
    border-radius: 15px;
}

#rankings{
    margin: auto;
}

#left-comment{
    border-radius: 15px;
    box-shadow: 0 0 5px #23d5d2;
}

.glyphicon-star {
    color: #23d5d2;
}

.glyphicon-star-empty {
    color: #dcf3f3;
}

</style>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1" >
        </div>
      <div class="col-md-6 col-sm-6 col-lg-6">
        <!-- <div class="row">
            <li><a class="inside" href="#">Start a new story</a></li>
        </div> -->
        <!-- <div class="row">
            <li><a class="inside" href="#">Title</a></li>
        </div>
        <div class="row">
            <li><a class="inside" href="#">Select a template</a></li>
        </div> -->
          <div class="row">
            <div class="col-md-8 col-sm-8 col-lg-8">
                <form>
                  <div class="form-group">
                      <textarea class="form-control" placeholder="Write new story to the cloud"
                                id="input" rows="6"></textarea>
                  </div>
                </form>
            </div>
          </div>
      </div>
        <div class="col-md-1 col-sm-1 col-lg-1" >
        </div>
      <div class="col-md-5 col-sm-5 col-lg-5">
        <!-- <div class="row">
            <li><a class="inside" href="#">Continue a Progressing Story</a></li>
        </div> -->
        <!-- <div class="row">
            <li><a class="inside" href="#">Number of Stories</a></li>
        </div>
        <div class="row">
            <li><a class="inside" href="#">Number of Active Users</a></li>
        </div> -->
        <div class="row">
            <div class="col-md-9 col-sm-9 col-lg-9">
                <form>
                  <div class="form-group">
                      <textarea class="form-control" placeholder="Click to choose a story from the cloud"
                                id="input" rows="6" ></textarea>
                  </div>
                </form>
            </div>
        </div>
      </div>
        <div class="col-md-1 col-sm-1 col-lg-1" >
        </div>
    </div>
    <div class="row d-flex justify-content-center text-center" id="rankings">
            <li><a class="inside" href="#">Top 5 Stories</a></li>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="#" class="inside">1. This is first Story</a></li>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="stars">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="left-comment">
            <li><a class="comment" href="#">300 Comments</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    </div>
     <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="#" class="inside">2. This is second Story</a></li>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="stars">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <br/>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="left-comment">
            <li><a class="comment" href="#">300 Comments</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    </div>
     <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="#" class="inside">3. This is third Story</a></li>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="stars">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <br/>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="left-comment">
            <li><a class="comment" href="#">300 Comments</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="#" class="inside">4. This is fourth Story</a></li>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="stars">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <br/>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="left-comment">
            <li><a class="comment" href="#">300 Comments</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3">
        <li><a href="#" class="inside">5. This is fifth Story</a></li>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="stars">
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star"></span>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2">
                <br/>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div class="col-md-3 col-sm-3 col-lg-3">
                <br/>
                <span class="glyphicon glyphicon-star-empty"></span>
            </div>
        </div>
        <div class="col-md-3 col-sm-3 col-lg-3" id="left-comment">
            <li><a class="comment" href="#">300 Comments</a></li>
        </div>
        <div class="col-md-1 col-sm-1 col-lg-1">
        </div>
    </div>
{% endblock body_block%}