{% extends 'writecloud/base.html' %}

{% block head_block %}
    <h1>Rate "{{ title }}" by {{ author }}</h1>
{% endblock %}

{% block body_block %}
    <form action="{% url 'writecloud:rate' uuid %}" method="POST">
        {% csrf_token %}

        <h2>Rating</h2>
        {% for radio in form.value %}
            {{ radio }}
        {% endfor %}
        <br />

        <h2>Comment</h2>
        {{ form.comment }}
        <br />

        <br />

        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        <input type="submit" value="Submit Rating">
    </form>
{% endblock %}