{% extends 'writecloud/base.html' %}
{% block header_logged_in %}
{% endblock %}
{% block header_logo %}
{% endblock %}
{% load static %}
{% load my_custom_tags %}

{% block body_block %}
<style>
.inside{
    font-size : 2vw;
    font-family: "Apple Symbols";
    color: #ee7752 ;
    margin-left: 5%;
}
#sub{
    font-size : 1.2vw !important;
    margin-bottom: 2%;
}
#author{
    font-size : 1.5vw !important;
    margin-bottom: 5%;
    color: #23d5d2 !important;
}
.card{
    margin-left:25%;
    margin-right:25%;
    {% if template == 1 %}
    box-shadow: 0 0 5px #23d5d2;
    {% endif %}
    {% if template == 2 %}
    box-shadow: 0 0 5px #ee7752;
    {% endif %}
    {% if template == 3 %}
    box-shadow: 0 0 5px #23d5d2;
    background: #23d5d2;
    {% endif %}
    {% if template == 4 %}
    box-shadow: 0 0 5px #ee7752;
    background: #ee7752;
    {% endif %}
    border-radius: 15px;
}
textarea{
    width: 100%;
    {% if template == 1 %}
    color: #ee7752;
    {% endif %}
    {% if template == 2 %}
    color: #23d5d2;
    {% endif %}
    {% if template == 3 %}
    color: #ee7752;
    background: #23d5d2;
    {% endif %}
    {% if template == 4 %}
    color: #23d5d2;
    background: #ee7752;
    {% endif %}
    border: none !important;
}

::placeholder{
    {% if template == 1 or  template == 3%}
    color: #ee7752;
    {% endif %}
    {% if template == 2 or  template == 4%}
    color: #23d5d2;
    {% endif %}
}

#page{
    display: flex !important;
    justify-content: center;
}

#fileupload{
    display: none;
}
#image{
    margin-top: 3%;
}
textarea{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;
}

#upload-img {
    width: 12vw;
    height: 14vw;
    object-fit: fill;
}

#page{
    {% if template == 1 or  template == 3%}
    color: #ee7752;
    {% endif %}
    {% if template == 2 or  template == 4%}
    color: #23d5d2;
    {% endif %}
}

button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
    border: none !important;
}

button:hover {
  background-color: #ddd !important;
  color: black !important;
}

.previous {
  background-color: #23d5d2;
  color: white;
}

.next {
  background-color: #ee7752;;
  color: white;
}



#arrows{
    display: flex;
    justify-content: center;
}

#upload {
  background-color: #ee7752;;
  color: white;
}
</style>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="inside">{{ title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="inside" id="sub">{{ subtitle }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="inside" id="author">Initial Author {{ author }}</p>
        </div>
    </div>
    {% if counter < pages|length %}
        <div class="card" >
            <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                  <div>
{#                                      If only displaying#}
                                        <textarea  readonly placeholder='{{  pages|return_content:counter}}' rows="25"></textarea>
                                  </div>
                            </div>
                        </div>
                </div>
            {% if include_images %}
                <div id ="image" class="col-md-3 col-sm-3 col-lg-3">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-lg-2">
                                        <div onclick="uploadFunction()" class="imgbox">
                                            <img src="{{ pages|return_image:counter }}" id="upload-img">
                                        </div>
                            </div>
                        </div>
                </div>
            {% endif %}
            </div>
            <div class="row">
{#                This is the case where we are displaying content#}
                <div id="page">
                        <p>{{ pages|return_number:counter }}</p>
                </div>
            </div>
    </div>
    {% endif %}
    {% if counter == pages|length %}
    <div class="card" >
        <form action="{% url 'writecloud:story' uuid %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                  <div>
{#                                       If adding new content#}
                                       <textarea placeholder='Continue your story here' id="content" name="content" rows="25"></textarea>
                                  </div>
                            </div>
                        </div>
                </div>
            {% if include_images %}
                <div id ="image" class="col-md-3 col-sm-3 col-lg-3">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-lg-2">
                                        <div onclick="uploadFunction()" class="imgbox">
                                            {% if template ==  1 or template ==  3%}
                                            <img src="{% static "upload.png" %}" id="upload-img">
                                            {% endif %}
                                            {% if template ==  2 or template ==  4%}
                                            <img src="{% static "upload1.png" %}" id="upload-img">
                                            {% endif %}
                                        </div>
                                    <div class="custom-file">
                                        <input  type="file" id="fileupload" name="image">
                                    </div>
                            </div>
                        </div>
                </div>
            {% endif %}
            </div>
            <div class="row">
{#                Now the case where we want to add new content#}
                <div id="page">
                    {% if page|length == 0 %}
                        <p> 1 </p>
                        <input hidden type="number" id="number" name="number" value="1">
                    {% endif %}
                    {% for page in pages %}
                        {% if forloop.last %}
                            <p> {{ pages.number|add:1 }} </p>
                            <input hidden type="number" id="number" name="number" value="{{ page.number|add:1 }}">
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        <button id="upload" type="submit" hidden>Upload</button>
        </form>
    {% endif %}
    </div>
    <div class="row" id="arrows">
        {% if counter > 0 %}
        <form id="leftClick_form" method="post" action="{% url 'writecloud:story' uuid %}">{% csrf_token %}
            <button id="leftClick" name="leftClick" value="{{ counter }}" class="previous">&laquo; Previous</button>
        </form>
        {% endif %}
    {% if counter < pages|length %}
        <form id="rightClick_form" method="post" action="{% url 'writecloud:story' uuid %}">{% csrf_token %}
            <button id="rightClick" name="rightClick" value="{{ counter }}" class="next">Next &raquo;</button>
        </form>
    {% endif %}
    </div>

{#display comments if story complete#}

{% block footer_block %}
    {% if page|length == total_pages %}
    {% if user_authenticated %}
        {% if user_review.present %}
            <h2>Your review</h2>
            {{ user_review.stars }} / 5 <br />
            {{ user_review.body}} <br />
        {% else %}
            <h2>Review this Story</h2>
            <form action="{% url 'writecloud:story' uuid %}" method="POST">
                {% csrf_token %}

                <b>Vote this Story:</b> <br />
                {% for radio in form.stars %}
                    {{ radio }}
                {% endfor %}
                <br />

                <b>Leave your comments here:</b> <br />
                {{ form.body }}
                <br />

                <br />

                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}

                <input type="submit" value="Submit review">
            </form>
        {% endif %}
    {% else %}
        <a href="{% url 'writecloud:login' %}">Log in</a> to review this Story
    {% endif %}

    <h2>Reviews</h2>
    <p><b>{{ stars }} / 5</b> stars out of a total of <b>{{ total }}</b> reviews</p>

    {% for review in reviews %}
        <i>{{ review.author }},</i> <b>{{ review.stars }} / 5:</b> <br />
        {{ review.body }} <br />
    {% endfor %}
    {% endif %}
{% endblock %}


<script>
function uploadFunction(){
    document.getElementById("fileupload").click();
}

jQuery("#content, #fileupload").on("input", function () {
    const isValid = validate();
    if (isValid) {
      jQuery("#upload").removeAttr("hidden");
    }
});

function validate() {
  let isValid = true;
  $('input, textarea').each(function() {
    if ($(this).val() === '')
        isValid = false;
  });
  return isValid;
}
</script>

{% endblock %}