{% extends 'writecloud/base.html' %}
{% block header_logged_out %}
{% endblock %}
{% block header_logo %}
{% endblock %}
{% load static %}
{% load my_custom_tags %}

{% block body_block %}
<style>
.inside{
    font-size : 2vw;
    font-family: "Apple Symbols";
    color: #ee7752 ;
    margin-left: 5%;
}
#vote{
    font-size : 1.5vw;
    font-family: "Apple Symbols";
    color: #ee7752 ;
    margin-left: 5%;
}
#vote_content{
    font-size : 1.5vw;
    font-family: "Apple Symbols";
    color: #ee7752 ;
    margin-left: 6%;
}
#vote_author{
    font-size : 1.5vw;
    font-family: "Apple Symbols";
    color: #23d5d2 ;
    margin-left: 6%;
}
#sub{
    font-size : 1.2vw !important;
    margin-bottom: 2%;
}
#author{
    font-size : 1.5vw !important;
    margin-bottom: 5%;
    color: #23d5d2 !important;
}
.card{
    margin-left:25%;
    margin-right:25%;
    {% if template == 1 %}
    box-shadow: 0 0 5px #23d5d2;
    {% endif %}
    {% if template == 2 %}
    box-shadow: 0 0 5px #ee7752;
    {% endif %}
    {% if template == 3 %}
    box-shadow: 0 0 5px #23d5d2;
    background: #23d5d2;
    {% endif %}
    {% if template == 4 %}
    box-shadow: 0 0 5px #ee7752;
    background: #ee7752;
    {% endif %}
    border-radius: 15px;
}
textarea{
    width: 100%;
    {% if template == 1 %}
    color: #ee7752;
    {% endif %}
    {% if template == 2 %}
    color: #23d5d2;
    {% endif %}
    {% if template == 3 %}
    color: #ee7752;
    background: #23d5d2;
    {% endif %}
    {% if template == 4 %}
    color: #23d5d2;
    background: #ee7752;
    {% endif %}
    border: none !important;
}

::placeholder{
    {% if template == 1 or  template == 3%}
    color: #ee7752;
    {% endif %}
    {% if template == 2 or  template == 4%}
    color: #23d5d2;
    {% endif %}
}

#page{
    display: flex !important;
    justify-content: center;
}

#fileupload{
    display: none;
}
#image{
    margin-top: 3%;
}
textarea{
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 10%;
}

#upload-img {
    width: 12vw;
    height: 14vw;
    object-fit: fill;
}

#page{
    {% if template == 1 or  template == 3%}
    color: #ee7752;
    {% endif %}
    {% if template == 2 or  template == 4%}
    color: #23d5d2;
    {% endif %}
}

button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  border: none !important;
}

button:hover {
  background-color: #ddd !important;
  color: black !important;
}

.previous {
  background-color: #23d5d2;
  color: white;
}

.next {
  background-color: #ee7752;
  color: white;
}

#arrows{
    display: flex;
    justify-content: center;
}

#upload {
{% if template ==  1 or template ==  3%}
    background-color: #ee7752;
{% endif %}
{% if template ==  2 or template ==  4%}
    background-color: #23d5d2;
{% endif %}
  color: white;
}
#review{
    margin-left: 2%;
    margin-right: 25%;
}
*{
    margin: 0;
    padding: 0;
}
.rate {
    margin-left: 5%;
    margin-bottom: 1%;
    float: left;
    height: 2vw;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #23d5d2;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #23d5d2;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #23d5d2;
}
#review{
    margin-left: 5%;
    height: 2vw;
    width: 40vw;
    outline: none;
    background-color: #23d5d2;
    color: white;
}
#voteForm{
    margin-left: 4%;
    margin-top: 1%;
    background-color: #23d5d2;
    color: white;
}
#star_rating{
    color: #23d5d2 !important;
}
h2{
    color: #23d5d2 !important;
}
.rate{
    margin-left: 6%;
}
</style>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="inside">{{ title }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="inside" id="sub">{{ subtitle }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-lg-6">
            <p class="inside" id="author">Initial Author {{ author }}</p>
        </div>
    </div>
    {% if counter < pages|length %}
        <div class="card" >
            <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                  <div>
{#                                      If only displaying#}
                                        <textarea  readonly placeholder='{{  pages|return_content:counter}}' rows="25"></textarea>
                                  </div>
                            </div>
                        </div>
                </div>
            {% if include_images %}
                <div id ="image" class="col-md-3 col-sm-3 col-lg-3">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-lg-2">
                                        <div onclick="uploadFunction()" class="imgbox">
                                            <img src="{{ pages|return_image:counter }}" id="upload-img">
                                        </div>
                            </div>
                        </div>
                </div>
            {% endif %}
            </div>
            <div class="row">
{#                This is the case where we are displaying content#}
                <div id="page">
                        <p>{{ pages|return_number:counter }}</p>
                </div>
            </div>
    </div>
    {% endif %}
    {% if pages|return_last_number < total_pages and counter == pages|length or pages|length == 0 %}
    <div class="card" >
        <form action="{% url 'writecloud:story' uuid %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div class="row">
                <div class="col-md-8 col-sm-8 col-lg-8">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-lg-12">
                                  <div>
{#                                       If adding new content#}
                                       <textarea placeholder='Continue your story here' id="content" name="content" rows="25"></textarea>
                                  </div>
                            </div>
                        </div>
                </div>
            {% if include_images %}
                <div id ="image" class="col-md-3 col-sm-3 col-lg-3">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-lg-2">
                                        <div onclick="uploadFunction()" class="imgbox">
                                            {% if template ==  1 or template ==  3%}
                                            <img src="{% static "upload.png" %}" id="upload-img">
                                            {% endif %}
                                            {% if template ==  2 or template ==  4%}
                                            <img src="{% static "upload1.png" %}" id="upload-img">
                                            {% endif %}
                                        </div>
                                    <div class="custom-file">
                                        <input  type="file" id="fileupload" name="image">
                                    </div>
                            </div>
                        </div>
                </div>
            {% endif %}
            </div>
            <div class="row">
{#                Now the case where we want to add new content#}
                <div id="page">
                            <p> {{ pages|return_new_number }} </p>
                            <input hidden type="number" id="number" name="number" value="{{ pages|return_new_number  }}">
                </div>
            </div>
            {% if pages|check_unique_author:user %}
            <button id="upload" type="submit" hidden>Upload</button>
            {% endif %}
        </form>
    {% endif %}
    </div>
    <div class="row" id="arrows">
    {% if counter > 0 %}
        <form id="leftClick_form" method="post" action="{% url 'writecloud:story' uuid %}">{% csrf_token %}
            <button id="leftClick" name="leftClick" value="{{ counter }}" class="previous">&laquo; Previous</button>
        </form>
    {% endif %}
    {% if pages|return_number:counter < total_pages %}
    <form id="rightClick_form" method="post" action="{% url 'writecloud:story' uuid %}">{% csrf_token %}
        <button id="rightClick" name="rightClick" value="{{ counter }}" class="next">Next &raquo;</button>
    </form>
    {% endif %}
    </div>
<script>
function uploadFunction(){
    document.getElementById("fileupload").click();
}

jQuery("#content, #fileupload").on("input", function () {
    const isValid = validate();
    if (isValid) {
      jQuery("#upload").removeAttr("hidden");
    }
});

function validate() {
  let isValid = true;
  $('input, textarea').each(function() {
    if ($(this).val() === '')
        isValid = false;
  });
  return isValid;
}
</script>

{% endblock %}

{#display comments if story complete#}

{% block footer_block %}
    {% if pages|length == total_pages %}
        {% if user_review.present %}
            <h2 class="inside">Your review</h2>
            <div class="row">
            <div class="rate">
                {% for star in user_review.stars|get_range %}
                    <label for="star1" id="star_rating" title="text">1 star</label>
                {% endfor %}
            </div>
        </div>
            <div class="row">
                <i id="vote_content">{{ user_review.body }}</i>
            </div>
        {% else %}
            <div class="row">
                <h2 class="inside">Review this Story</h2>
            </div>
            <form action="{% url 'writecloud:story' uuid %}" method="POST">
                {% csrf_token %}

                <div class="row">
                    <b id="vote">Give a rating:</b>
                </div>

                <div class="row">
                  <div class="rate">
                    <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                    <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                    <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                    <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                    <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label>
                  </div>
                </div>

                <div class="row">
                    <b id="vote">Leave a comment below:</b>
                </div>

                <div class="row">
                    <div>
                        <input type="review" id="review" name="review">
                    </div>
                </div>


                <button id="voteForm" name="voteForm" onclick="setTimeout(function(){window.location.reload();},10);">
                    Submit review</button>
            </form>
        {% endif %}

    <h2 class="inside">Reviews</h2>
    <p id="vote">
        <b>{{ stars }} / 5</b> stars out of a total of <b>{{ total }}</b> reviews
    </p>
    </div>


    {% for review in reviews %}
        <div class="row">
            <i id="vote_author">{{ review.author }}</i>
        </div>
        <div class="row">
            <div class="rate">
                {% for star in review.stars|get_range %}
                    <label for="star1" id="star_rating" title="text">1 star</label>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <i id="vote_content">{{ review.body }}</i>
        </div>
        <div class="row">
        </div>
    {% endfor %}
    {% endif %}
{% endblock %}